@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 10%; /* #14121E */
    --foreground: 0 0% 100%;
    --card: 240 10% 10%; /* #14121E */
    --card-foreground: 0 0% 100%;
    --popover: 240 10% 10%; /* #14121E */
    --popover-foreground: 0 0% 100%;
    --primary: 69 100% 50%; /* #D7FF00 */
    --primary-foreground: 240 10% 10%; /* Adjusted for contrast */
    --secondary: 240 15% 15%; /* #1D1B29 */
    --secondary-foreground: 0 0% 100%;
    --muted: 250 15% 17%; /* #262334 */
    --muted-foreground: 240 5% 65%;
    --accent: 240 15% 15%; /* #1D1B29 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 20% 35%; /* Replacing with #444054 */
    --input: 240 20% 35%; /* Replacing with #444054 */
    --ring: 69 100% 50%; /* #D7FF00 */
    --radius: 0.5rem; /* Updated radius */
    --chart-1: 69 100% 50%; /* #D7FF00 */
    --chart-2: 200 30% 40%; /* #6A6D89 */
    --chart-3: 240 10% 10%; /* #14121E */
    --chart-4: 72 90% 40%; /* #A1BD08 */
    --chart-5: 240 13% 13%; /* #1D1B29 */
  }

  .dark {
    --background: 240 10% 10%; /* #14121E */
    --foreground: 0 0% 100%;
    --card: 240 10% 10%; /* #14121E */
    --card-foreground: 0 0% 100%;
    --popover: 240 10% 10%; /* #14121E */
    --popover-foreground: 0 0% 100%;
    --primary: 69 100% 50%; /* #D7FF00 */
    --primary-foreground: 240 10% 10%; /* Adjusted for contrast */
    --secondary: 240 15% 15%; /* #1D1B29 */
    --secondary-foreground: 0 0% 100%;
    --muted: 250 15% 17%; /* #262334 */
    --muted-foreground: 240 5% 65%;
    --accent: 240 15% 15%; /* #1D1B29 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 20% 35%; /* Replacing with #444054 */
    --input: 240 20% 35%; /* Replacing with #444054 */
    --ring: 69 100% 50%; /* #D7FF00 */
    --radius: 0.5rem; /* Updated radius */
    --chart-1: 69 100% 50%; /* #D7FF00 */
    --chart-2: 200 30% 40%; /* #6A6D89 */
    --chart-3: 240 10% 10%; /* #14121E */
    --chart-4: 72 90% 40%; /* #A1BD08 */
    --chart-5: 240 13% 13%; /* #1D1B29 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
